@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: 222 47% 6%;
    --foreground: 210 40% 98%;
}

* {
    border-color: #1f2937;
    /* zinc-800 */
}

body {
    background-color: #0d1117;
    color: #e6edf3;
    font-family: 'Inter', system-ui, sans-serif;
    margin: 0;
}